body {
    background-color: #111;
    margin: 5%;
}

.form-border {
    border: 0.25em solid #99c;
    border-radius: 3em;
    padding: 1.5em;
    padding-bottom: 3em;
    background-image: radial-gradient(closest-corner, #abc, #99c);
}

.btn-go {
    width: 100%;
    padding: 1em;
    border-radius: 1em;
}